<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://yourfunctionappname.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/72897d20-d5f9-4d91-9c52-23d1e44fb881/resourceGroups/CurrencyProcessorRG/providers/Microsoft.Web/sites/YourFunctionAppName</ResourceId>
    <UserName>$YourFunctionAppName</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://yourfunctionappname.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>